*{
    margin:0px;
    padding:0px;
    font-family: 'segoe UI';
    background-color: black;
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
    width:80%;
    margin-left: 10%;
}

.padd{
    padding:20px;
}

.header{
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
    color: white;
}

.cards{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    height:200px;
    width:18%;
    margin-top: 20px;
    background-color: red;
    background-size:cover;
}

.overlay{
    height:200px;
    width:100%;
    background-color: gray;
}

.opened{
    display:none;
} 